/* navigation bar */

nav {
    width: 100%;
    float: left;
}

.navbar {
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25x 30px;
    background: hsl(63, 100%, 50%);
    border-bottom: 4px solid #eaff009e;
    box-shadow: 0 3px 0 #0000004c;
    z-index: 1000;
}

.nav-links {
    font-size: 25px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

/*TITLE PART*/
h1 {
    max-width: 700px;
    margin: 30px auto 20px;
    padding: 30px;
    font-size: 3em;
    color: #000000;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.525);
    letter-spacing: 2px;
}

