/* navigation bar */
nav {
    width: 100%;
    float: left;
}

.navbar {
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25x 30px;
    background: hsl(63, 100%, 50%);
    border-bottom: 4px solid #eaff009e;
    box-shadow: 0 3px 0 #0000004c;
    z-index: 1000;
}

.nav-links {
    font-size: 25px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

#error-message {
    color: red;
    display: block;
}

