/* GENERAL */

* {
    font-family: 'Trebuchet MS';
}

#y-button {
    margin-top: 3px;
    background-color: rgb(255, 204, 0);
    float: right;
    border-radius: 5px;
}

#error-message {
    color: red;
    display: block;
    text-align: center;
}


body {
    background-color: #7F5638;
    background-image: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    background-color: white;
    width: 300px;
    min-height: 500px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LOGIN HTML */

#logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px auto;
    padding-bottom: 20px;
}

.login-wrapper {
    background-color: white;
    width: 300px;
    max-height: 400px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup-link,
#login-link {
    padding-top: 5px;
}



/* INPUT FIELDS - add after #input-field */
#email-input,
#password-input,
#name-input,
#birthday-input,
#repeat-password-input {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
}

.Incorrect {
    border: 2px solid red !important;
    border-radius: 4px;
}


/* SIGN UP HTML */

.signup-wrapper {
    background-color: white;
    width: 300px;
    max-height: 600px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORGOT PASS HTML */


/* NAVIGATION BAR */
nav {
    width: 100%;
    float: left;
  
}

.navbar {
   position: relative;
    width: 950px;
    max-height: 100px;
    padding: 25px;
    background: hsl(63, 100%, 50%);
    border-bottom: 4px solid #eaff009e;
    box-shadow: 0 3px 0 #0000004c;
    margin: 0;
}



.nav-links {
    font-size: 25px;
    max-width: 1000px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 30px;
    flex-wrap: wrap;
}



/* HOMEPAGE */

.homepage-wrapper {
    background-color: white;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

#homepage-content {
    padding-left: 30px;
    padding-top: 100px;
}

/* SEARCH RESULTS */
#search-results {
    margin-top: 30px;
}

#clear-search {
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.destination-card {
    background-color: #fff9e6;
    border: 2px solid #ffc800;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
}

.destination-card h3 {
    margin-top: 0;
    color: #7F5638;
}

.dest-location {
    color: #666;
    margin: 5px 0;
}

.destination-card a {
    color: #7F5638;
    text-decoration: none;
    font-weight: bold;
}

.destination-card a:hover {
    text-decoration: underline;
}/* SEARCH RESULTS */
#search-results {
    margin-top: 30px;
}

#clear-search {
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.destination-card {
    background-color: #fff9e6;
    border: 2px solid #ffc800;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
}

.destination-card h3 {
    margin-top: 0;
    color: #7F5638;
}

.dest-location {
    color: #666;
    margin: 5px 0;
}

.destination-card a {
    color: #7F5638;
    text-decoration: none;
    font-weight: bold;
}

.destination-card a:hover {
    text-decoration: underline;
}v

/* PROFILE */
.profile-wrapper {
    padding-left: 50px;
    padding-top: 100px;
}

#edit-btn, 
#delete-btn {
    margin-top: 3px;
    margin-left: 10px;
    background-color: rgb(255, 204, 0);
    float: left;
    border-radius: 5px;
}

#search-field {
    width: 500px;
    margin: 2px 0;
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-btn {
    margin: auto 0;
    margin-top: 3px;
    margin-left: 10px;
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
}

/* ABOUT PAGE */

.about-wrapper {
    padding-left: 50px;
    padding-top: 100px;
}

.Background {
    padding-right: 50px;
}

/* REVIEW PAGE */

.reviews-wrapper {
    padding-left: 50px;
    padding-top: 100px;

}

.destination-row {
    margin-bottom: 10px;
}

#destination-select {
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
    width: 170px;
}

#review-title {
    width: 300px;
    margin: 2px 0;
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
}

#rating-wrapper {
    margin-top: 10px;
}

#review-rating {
    border: 1px solid #ffc800;
}

#review-body {
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    width: 500px;
    height: 100px;
}

#post-review {
    margin-top: 10px;
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
}

#sort-select {
    background-color: rgb(255, 204, 0);
    border-radius: 5px;
}

.reviews-wrapper hr {
  width: calc(100% + 50px); 
  margin-left: -50px; 
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 204, 0);

}