* {
    font-family: 'Trebuchet MS';
}


body {
    background-color: #7F5638;
    background-image: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    background-color: white;
    width: 300px;
    min-height: 500px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LOGIN HTML */

#logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px auto;
    padding-bottom: 20px;
}

.login-wrapper {
    background-color: white;
    width: 300px;
    max-height: 400px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup-link,
#login-link {
    padding-top: 5px;
}

#y-button {
    margin-top: 3px;
    background-color: rgb(255, 204, 0);
    padding-top: 5px;
    float: right;
    border-radius: 5px;
}

#input-field {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
}

/* SIGN UP HTML */

.signup-wrapper {
    background-color: white;
    width: 300px;
    max-height: 600px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORGOT PASS HTML */


/* NAVIGATION BAR */
nav {
    width: 100%;
    float: left;
  
}

.navbar {
   position: relative;
    width: 950px;
    padding: 25px;
    background: hsl(63, 100%, 50%);
    border-bottom: 4px solid #eaff009e;
    box-shadow: 0 3px 0 #0000004c;
    margin: 0;
}



.nav-links {
    font-size: 25px;
    max-width: 1000px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}

#error-message {
    color: red;
    display: block;
    text-align: center;
}

/* HOMEPAGE */

.homepage-wrapper {
    background-color: white;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

#homepage-text {
    padding-left: 30px;
}