body {
    background-color: #7F5638;
    background-image: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOGIN HTML */

#logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

.wrapper {
    background-color: white;
    width: 300px;
    max-height: 400px;
    padding: 70px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#login-button {
    background-color: rgb(255, 204, 0);
    padding-top: 5px;
    float: right;
    border-radius: 5px;
}

#email-input, #password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffc800;
    border-radius: 4px;
    box-sizing: border-box;
}

#signup-button {
    padding-top: 10px;
}

#sign-button-hover {

}


/* NAVIGATION BAR */
nav {
    width: 100%;
    float: left;
  
}

.navbar {
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25x 30px;
    background: hsl(63, 100%, 50%);
    border-bottom: 4px solid #eaff009e;
    box-shadow: 0 3px 0 #0000004c;
    z-index: 1000;
}



.nav-links {
    font-size: 25px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

#error-message {
    color: red;
    display: block;
    text-align: center;
}

